.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.file-input label {
  position: relative;
  width: 200px;
  height: 40px;
  border-radius: 45px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: transform .2s ease-out;
  border: unset;
  letter-spacing: 1.8px;
  opacity: 1;
  font-size: 12px;
  text-transform: uppercase;
  background: linear-gradient(40deg, #ff6ec4, #7873f5);
  transition: transform .2s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

